@import url('https://fonts.googleapis.com/css2? family= Playfair+Display & display=swap');

*{
    font-family: 'poppins', sans-serif;
    margin:0 ;
    padding: 0%;
    box-sizing: border-box;

}
body{
    background-color: lightblue;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vw;
}
.container{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100px;
    margin: 50px;
    max-width: 1000px; 
    background:rgb(211, 144, 238);
    display:grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 6);
    
    
}
.container .left_side{
    position: relative;
    background:#42d8d0;
    padding:40px;
    border: 2px solid #1697d3;
}
.profileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:20px ;
    border-bottom: 1px solid rgba(255,255,255,0.2);

}
.profileText .imgBx{
    position : relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #1697d3;
}
.profileText .imgBx img{
    position: relative;
    width:100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.profileText h2{
    color: rgb(252, 222, 222);
    font-size: 2em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;

}
.profileText h2 span{
    font-size: 300;
    text-transform: uppercase;
    font-weight: 200;
}
.contactInfo{
    padding-top: 40px;
    
}
.title{
    color:rgb(16, 136, 206);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;

}
.contactInfo ul{
    position: relative;
}
.contactInfo ul li{
    position: relative;
    list-style-type: none;
    margin: 10px 0;
    cursor: pointer;
}
.contactInfo ul li .icon{
    Display:inline-block;
    width: 30px;
    font-size: 18px;
    color: rgb(16, 136, 206);
}
.contactInfo ul li span{
    color: #fff;
     
}
.contactInfo.education li{
    margin-bottom: 20px;

}
.contactInfo.education h3{
    color:rgb(16, 136, 206);
    font-weight: 400;
}
.contactInfo.education h4:nth-child(2){
    
    font-weight: 400;
}
.contactInfo.education h4{
    color: #fff;
    font-weight: 500;
}
.contactInfo.lenguage .percent{
    position: relative;
    width: 100%;
    height: 6px;
    background:rgb(59, 85, 87);
    display:block;
    margin-top: 5px;

}
.contactInfo.lenguage .percent div{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background:#1697d3;;
}









.container .right_side{
    position: relative;
    background-color: rgb(204, 159, 241);
    padding:40px ;
    border: 2px solid rgb(209, 106, 250);
}
.about{
    margin-bottom: 40px;
    padding:40px;
}
.about:last-child{
    margin-bottom:0;

}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #333;
}
.about .box
{
display: flex;
flex-direction: row;
margin: 20px 0;

}
.about .year_company{
    min-width: 140px;

}
.about .year_company h5{
    text-transform: uppercase;
    color:#003147;
    font-weight: 600;

}
.about .text h4{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 15px;

}
.skills .box{
    position: relative;
    width: 100%;
    display:grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;

}
.skills .box h4{
    text-transform: uppercase;
    color: #161c25;
    font-weight: 500;

}
.skills .box .percent{
    position: relative;
    width: 100%;
    height: 9px;
    background:rgb(99, 89, 89);
}
.skills .box .percent div {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background:#1a8bc0;
}
.interest ul{
display: grid;
grid-template-columns: repeat(4,1fr);
}
.interest ul li{
    list-style: none;
    color: #333;
    font-weight: 500;
    margin:10px 0
}
.interest ul li .fa{
    color:#1a8bc0;
    font-size: 18px;
    width:20px;


}
.descarga{
    border:2px solid #1697d3;
    background-color: #1697d3;
}


@media(max-width: 780px){
    header
    {
        height:50px;
    }
    h1
    {
        font-size: 28px;
        margin: 20px 0px 0px 0px;
    }
    nav li a 
    {
        font-size: 13px;
        padding:10px;
    }
    nav li:hover a 
    {
        padding:5px 10px 10px 10px;
    }

}
